.idea/
development/admin/app/app.module.js
development/app/app/app.module.js
SERVER.txt
public/admin/app/app.module.js
public/app/app.module.js
development/admin/app/app.module.js
development/app/app/app.module.js
node_modules/
public/admin/app/admin.min.js
public/app/app.min.js