<div class="uk-hidden-small">
    <div class="hero-caption">
        <div class="caption"><h1 class="text-white">HAVE FUN | IN THE SUN</h1></div>
        <div class="caption"><h1 class="text-white">150php Limited Offer</h1></div>
    </div>
    <div class="uk-width-1-1 uk-panel">

        <div class="uk-slidenav-position" data-uk-slideshow="{height:447,autoplayInterval:4000,autoplay:true,animation:'fade'}">
            <ul class="uk-slideshow">
                <li><img data-bind="attr: {src:slide1}" src="assets/img/7.jpg" alt="wijati"/></li>
                <li><img data-bind="attr: {src:slide2}" src="assets/img/6.jpg" alt="wijati"/></li>
                <li><img data-bind="attr: {src:slide3}" src="assets/img/7.jpg" alt="wijati"/></li>
                <li><img data-bind="attr: {src:slide4}" src="assets/img/8.jpg" alt="wijati"/></li>
            </ul>
            <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center bottom-20">
                <li data-uk-slideshow-item="0"><a href=""></a></li>
                <li data-uk-slideshow-item="1"><a href=""></a></li>
                <li data-uk-slideshow-item="2"><a href=""></a></li>
                <li data-uk-slideshow-item="3"><a href=""></a></li>
            </ul>
        </div>
    </div>
</div>
<!--HERO SMALL-->
<div class="uk-hidden-large uk-hidden-medium">
    <div class="hero-caption">
        <div class="caption"><h2 class="text-white">HAVE FUN | IN THE SUN</h2></div>
        <div class="caption"><h2 class="text-white">150php Limited Offer</h2></div>

    </div>
    <div class="uk-width-1-1 uk-panel">

        <div class="uk-slidenav-position" data-uk-slideshow="{height:370,autoplayInterval:4000,autoplay:true,animation:'fade'}">
            <ul class="uk-slideshow">
                <li><img data-bind="attr: {src:slide1}" src="assets/img/7.jpg" alt="wijati"/></li>
                <li><img data-bind="attr: {src:slide2}" src="assets/img/6.jpg" alt="wijati"/></li>
                <li><img data-bind="attr: {src:slide3}" src="assets/img/7.jpg" alt="wijati"/></li>
                <li><img data-bind="attr: {src:slide4}" src="assets/img/8.jpg" alt="wijati"/></li>
            </ul>
            <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center bottom-20">
                <li data-uk-slideshow-item="0"><a href=""></a></li>
                <li data-uk-slideshow-item="1"><a href=""></a></li>
                <li data-uk-slideshow-item="2"><a href=""></a></li>
                <li data-uk-slideshow-item="3"><a href=""></a></li>
            </ul>
        </div>
    </div>
</div>