<div id="fb-root"></div>
<header-dir></header-dir>
<!--HERO LARGE-->
<hero-dir></hero-dir>
<!--ABOUT-->
<div class="inner-container-width uk-container-center uk-margin-large-top uk-margin-large-bottom uk-text-left">
    <h2>ABOUT HIGHLAND VISTA RESORT</h2>
    <hr class="hr-title">

    <p> Lorem ipsum dolor sit amet, volumus accusata ea mei, mea ne quas ferri cetero. Est ea harum expetenda.
        Sed labores propriae reprimique in, id animal commune atomorum sed. Nulla essent pri ut. Pro ne porro contentiones.
        Omnium laboramus nam ex, nibh alterum feugait sit in. Fugit dolorum constituam sit ad, tincidunt dissentiet has in,
        fugit legere definiebas pri ad. Lorem ipsum dolor sit amet, volumus accusata ea mei, mea ne quas ferri cetero. Est ea harum expetenda.
        Sed labores propriae reprimique in, id animal commune atomorum sed. Nulla essent pri ut. Pro ne porro contentiones.
        Omnium laboramus nam ex, nibh alterum feugait sit in. Fugit dolorum constituam sit ad, tincidunt dissentiet has in,
        fugit legere definiebas pri ad.</p>
    <p> Lorem ipsum dolor sit amet, volumus accusata ea mei, mea ne quas ferri cetero. Est ea harum expetenda.
        Sed labores propriae reprimique in, id animal commune atomorum sed. Nulla essent pri ut. Pro ne porro contentiones.
        Omnium laboramus nam ex, nibh alterum feugait sit in. Fugit dolorum constituam sit ad, tincidunt dissentiet has in,
        fugit legere definiebas pri ad. Lorem ipsum dolor sit amet, volumus accusata ea mei, mea ne quas ferri cetero. Est ea harum expetenda.
        Sed labores propriae reprimique in, id animal commune atomorum sed. Nulla essent pri ut. Pro ne porro contentiones.
        Omnium laboramus nam ex, nibh alterum feugait sit in. Fugit dolorum constituam sit ad, tincidunt dissentiet has in,
        fugit legere definiebas pri ad.</p>
    <p> Lorem ipsum dolor sit amet, volumus accusata ea mei, mea ne quas ferri cetero. Est ea harum expetenda.
        Sed labores propriae reprimique in, id animal commune atomorum sed. Nulla essent pri ut. Pro ne porro contentiones.
        Omnium laboramus nam ex, nibh alterum feugait sit in. Fugit dolorum constituam sit ad, tincidunt dissentiet has in,
        fugit legere definiebas pri ad. Lorem ipsum dolor sit amet, volumus accusata ea mei, mea ne quas ferri cetero. Est ea harum expetenda.
        Sed labores propriae reprimique in, id animal commune atomorum sed. Nulla essent pri ut. Pro ne porro contentiones.
        Omnium laboramus nam ex, nibh alterum feugait sit in. Fugit dolorum constituam sit ad, tincidunt dissentiet has in,
        fugit legere definiebas pri ad.</p>

</div>
<!--FAQ-->

<div id="faq" class="lavender">
    <div class="inner-container-width uk-container-center uk-text-left">
        <h2>FREQUENTLY ASKED QUESTIONS</h2>
        <hr class="hr-title">
        <ol>
            <li><p>Lorem ipsum dolor sit amet, volumus accusata ea mei, mea ne quas ferri cetero?</p>
                <p>Lorem ipsum dolor sit amet, volumus accusata ea mei, mea ne quas ferri cetero.</p>
            </li>
            <li><p>Lorem ipsum dolor sit amet, volumus accusata ea mei, mea ne quas ferri cetero?</p>
                <p>Lorem ipsum dolor sit amet, volumus accusata ea mei, mea ne quas ferri cetero.</p>
            </li>
            <li><p>Lorem ipsum dolor sit amet, volumus accusata ea mei, mea ne quas ferri cetero?</p>
                <p>Lorem ipsum dolor sit amet, volumus accusata ea mei, mea ne quas ferri cetero.</p>
            </li>
        </ol>
    </div>
</div>
<footer-dir></footer-dir>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/sticky.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/slideshow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/slideset.min.js"></script>