<div id="fb-root"></div>
<header-dir></header-dir>
<hero-dir></hero-dir>
<!--FEATURED PHOTOS-->
<div class="uk-margin-large-top inner-container-width uk-container-center">
    <h2>FEATURED PHOTOS</h2>
    <div class=" uk-width-small-1-1 uk-panel uk-position-relative" data-uk-slideset="{small: 1, medium:3, large: 3}">
        <section id="activities"></section>
        <div class="feature-slider uk-slidenav-position">
            <ul class="uk-grid uk-slideset">
                <li>
                    <img src="assets/img/1.jpg" alt="" class="uk-width-1-1 "/>
                </li>
                <li>
                    <img src="assets/img/2.jpg" alt="" class="uk-width-1-1 "/>
                </li>
                <li>
                    <img src="assets/img/3.jpg" alt="" class="uk-width-1-1 "/>
                </li>
                <li>
                    <img src="assets/img/1.jpg" alt="" class="uk-width-1-1 "/>
                </li>
                <li>
                    <img src="assets/img/2.jpg" alt="" class="uk-width-1-1 "/>
                </li>
                <li>
                    <img src="assets/img/3.jpg" alt="" class="uk-width-1-1 "/>
                </li>
            </ul>
            <a href="" class="uk-slidenav uk-slidenav-contrast text-dark aleft" data-uk-slideset-item="previous"><span class="uk-slidenav-previous"></span></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast text-dark aright" data-uk-slideset-item="next"><span class="uk-slidenav-next"> </span></a>
        </div>
    </div>
    <h2 class="uk-margin-large-top">ACTIVITIES TO TRY</h2>
</div>
<!--ACTIVITIES-->

<div class="uk-container-center container-width uk-margin-large-bottom act-block">
    <div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-small-1-1">
        <div class="uk-margin-small-top">
            <div class="uk-width-1-1">
                <a data-uk-modal="{target:'#activity'}"> <img class="activities" src="assets/img/7.jpg"></a>
                <img class="uk-margin-small-top act-logo uk-float-left" src="assets/img/beach-512.png">
                <div class="act-desc uk-margin-small-top">
                    KIDDIE POOL
                    <hr class="uk-margin-remove">
                    3ft below
                </div>
            </div>
        </div>
        <div class="uk-margin-small-top">
            <div class="uk-width-1-1">
                <a data-uk-modal="{target:'#activity'}"> <img class="activities" src="assets/img/7.jpg"></a>
                <img class="uk-margin-small-top act-logo uk-float-left" src="assets/img/beach-512.png">
                <div class="act-desc uk-margin-small-top">
                    KIDDIE POOL
                    <hr class="uk-margin-remove">
                    3ft below
                </div>
            </div>
        </div>

        <section id="facilities"></section>
    </div>
</div>
<!--FEATURED ROOMS-->
<div class="lavender">
    <div class="inner-container-width uk-container-center">
        <h2>FEATURED ROOMS</h2>
        <div class="uk-grid uk-grid-width-large-1-3 uk-grid-width-small-1-1 fac-block">
            <div class="uk-margin-small-top">
                <div class="uk-width-1-1">
                    <a data-uk-modal="{target:'#room'}"><img src="assets/img/1.jpg" class="rounded uk-width-1-1"/></a>
                    <div class="white uk-text-center uk-margin-small-top">
                        <h2>1 King sized Bed</h2>
                        <h3 class="uk-margin-remove">with Kitchen</h3>
                        <hr class="hr-dashed">
                        <p class="uk-text-left">I’m a news story. Click me and then “Edit News” to open the News editor and change my text.</p>
                    </div>
                </div>
            </div>
            <div class="uk-margin-small-top">
                <div class="uk-width-1-1">
                    <a data-uk-modal="{target:'#room'}"><img src="assets/img/2.jpg" class="rounded uk-width-1-1"/></a>
                    <div class="white uk-text-center uk-margin-small-top">
                        <h2>2 Double Bed</h2>
                        <h3 class="uk-margin-remove">with Kitchen</h3>
                        <hr class="hr-dashed">
                        <p class="uk-text-left">I’m a news story. Click me and then “Edit News” to open the News editor and change my text.</p>
                    </div>
                </div>
            </div>
            <div class="uk-margin-small-top">
                <div class="uk-width-1-1">
                    <a data-uk-modal="{target:'#room'}"><img src="assets/img/3.jpg" class="rounded uk-width-1-1"/></a>
                    <div class="white uk-text-center uk-margin-small-top">
                        <h2>1 King sized Bed</h2>
                        <h3 class="uk-margin-remove">with Kitchen</h3>
                        <hr class="hr-dashed">
                        <p class="uk-text-left">I’m a news story. Click me and then “Edit News” to open the News editor and change my text.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-grid">
            <div class="uk-width-large-6-10 uk-width-medium-4-10 uk-width-small-1-1 uk-text-center uk-margin-bottom">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d502360.95383599034!2d122.90090413281251!3d10.366257699999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a94ebca69acf99%3A0x8f0ffbdd353f3a89!2sHighland+Vista+Resort!5e0!3m2!1sen!2sph!4v1502792294076" width="100%" height="270" frameborder="0" style="border:0" allowfullscreen alt="MAP"></iframe>
            </div>
            <div class="uk-width-large-4-10 uk-width-medium-6-10 uk-width-small-1-1 uk-text-center uk-margin-bottom">
                <div class="fb-page uk-hidden-small" data-href="https://www.facebook.com/highlandvistaresort/" data-tabs="timeline" data-width="400" data-height="270" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/highlandvistaresort/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/highlandvistaresort/">Highland VISTA Resort</a></blockquote></div>
                <div class="fb-page uk-hidden-large uk-hidden-medium"
                     data-href="https://www.facebook.com/highlandvistaresort/"
                     data-width="250"
                     data-hide-cover="false"
                     data-show-facepile="false">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="room" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-width-1-1 uk-panel ">
            <img src="assets/img/1.jpg">
        </div>
    </div>
</div>
<div id="activity" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-width-1-1 uk-panel ">
            <img src="assets/img/6.jpg">
        </div>
    </div>
</div>
<footer-dir></footer-dir>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/sticky.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/slideshow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/components/slideset.min.js"></script>